@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fale-conosco {
  min-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  position: static;
}

.title-fale-conosco {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
  word-wrap: break-word;
}

.container-fale-conosco h1 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Josefin Slab", serif;
}

.container-fale-conosco form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-fale-conosco form label {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.form-group input,
textarea {
  background-color: #a6b3be;
  border: none;
  border-radius: 5px;
  padding: 1%;
}

.form-group,
.form-group-double,
input::placeholder,
textarea::placeholder {
  color: #000;
  font-family: "Josefin Slab", serif;
}
.form-group textarea {
  width: 100%;
}
.submit-group {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.icon-area {
  position: absolute;
  margin: 0.5%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.form-group-double {
  display: flex;
  margin: 10px 0;
  min-width: 100%;
  justify-content: space-between;
}
.input-double {
  border: none;
  border-radius: 5px;
  padding: 1%;
  width: 47%;
  background-color: #a6b3be;
}

.circle-container {
  width: 70%;
  min-height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1%;
  min-height: 80px;
  min-width: 80px;
  background-color: #d97676;
}

@media only screen and (max-width: 420px) {
  .container-fale-conosco {
    background-color: #758594;
  }
  .container-fale-conosco form label {
    display: contents;
    color: #000000;
  }

  textarea {
    background-color: #d9d9d9;
  }

  .form-group > input::placeholder,
  .form-group-double > input::placeholder {
    color: transparent;
  }
  .form-group-double > {
    background-color: #d9d9d9;
  }
  .container-fale-conosco form {
    width: 90%;
  }
  .container-fale-conosco h1 {
    color: #fff;
  }
  .form-group-double {
    justify-content: space-around;
    flex-direction: column;
    margin: 3px 0;
  }
  .input-double {
    width: 100%;
    margin: 3px 0;
  }

  .input-double:nth-child(4) {
    width: 70%;
  }
  .circle-container {
    width: 90%;
  }
  .circle {
    min-width: 45px;
    min-height: 40px;
    border-radius: 200px;
  }
}

.barra-navegacao {
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3rem;
  font-family: "Josefin Slab", serif;
}
.none {
  display: none;
}
.barra-navegacao > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
