@import url("../../assets/colors/colors.css");
@import url("../../assets/fonts/fonts.css");

.container-cadastro {
  min-height: 84.4%;
  background-color: var(--background-escuro);
  display: flex;
  align-items: center;
  padding: 1%;
  justify-content: center;
  flex-direction: column;
}
.container-cadastro form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group-cadastro {
  margin: 10px 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group-cadastro input {
  width: 70%;
  border: none;
  padding: 1.3%;
  border-radius: 4px;
  background-color: var(--color-white);
}

.form-group-cadastro label {
  text-align: left;
  width: 70%;
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--josefin);
  line-height: 36px;
  font-size: x-large;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button-group button {
  padding: 1.2%;
  color: #000000;
  font-family: var(--josefin);
  font-weight: 700;
  line-height: 32px;
  min-width: 90px;
  min-height: 32px;
  background: var(--color-white);
  border-radius: 10px;
  border: none;
}

.pato {
  width: 130px;
  height: 130px;
}

.barra-navegacao {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 3rem;
  font-family: var(--josefin);
}
.none {
  display: none;
}
.barra-navegacao > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .container-cadastro {
    min-height: 100%;
  }
  .form-group-cadastro input {
    width: 100%;
  }
  .form-group-cadastro input {
    width: 100%;
    border: none;
    padding: 1.3%;
  }
}
