@import url("../../assets/colors/colors.css");
@import url("../../assets/fonts/fonts.css");

.container-faq {
  min-height: 84.4%;
  width: 100%;
  background-color: var(--background-claro);
}

.box {
  height: 100%;
  width: 100%;
}

.faq-title {
  font-family: var(--josefin);
  padding-top: 3%;
  text-align: center;
  color: #ffffff;
}

.card-box {
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: min-content;
  width: 100%;
  gap: 13px;
  flex-wrap: wrap;
}
